/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.panel-list {
  width: 16%;
  background-color: rgb(93, 130, 209);
  color: white;
  height: 308vh;
}

/* Main Page */
.admin-dashboard{
  display: flex;
}

.dashboard{
  width: 84%;
}

.dashboard-cards-flex {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
  gap: 20px;
}

.dashboard-card {
  display: flex;
  justify-content: space-evenly;
  height: 100px;
  width: 230px;
  border: 1px solid rgba(58, 59, 69, 0.15);
	border-radius: 5px;
}
.monthly {
  box-shadow: -5px 0px 0px #4e73df;
}
.annual {
  box-shadow: -5px 0px 0px #1cc88a;
}
.tasks {
  box-shadow: -5px 0px 0px #36b9cc;
}
.pending-requests {
  box-shadow: -5px 0px 0px #f6c23e;
}

.dashboard-card-content {
  margin: 10px;
}

.progress-bar {
	border-radius: 10px;
	height: 10px !important;
  margin-top: 70px;
}

.dashboard-card-logo {
  margin-top: 35px;
  margin-left: 20px;
}

.pictorial-charts {
  display: flex;
  margin: 20px;
}

.earnings-overview {
  margin: 20px;
	width: 63%;
	border-radius: 5px;
	box-shadow: 0px 1px 3px 0px;
}

.charts-header-title {
	display: flex;
	justify-content: space-between;
}

.revenue-sources-chart {
  margin: 20px;
	width: 37%;
	border-radius: 5px;
	box-shadow: 0px 1px 3px 0px;
}

.projects-and-illustrations {
  display: flex;
  margin: 20px;
}

.projects {
  display: flex;
  flex-direction: column;
  margin: 20px;
	width: 50%;
	border-radius: 5px;
	box-shadow: 0px 1px 3px 0px;
}

.project-names-title {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.project-names-completion {
  margin: 10px;
}

.project-completion-lines {
  margin: 10px;
}

.project-progress-bar {
  border-radius: 20px;
	height: 18px !important;
}

.illustrations {
  display: flex;
  flex-direction: column;
  margin: 20px;
	width: 50%;
	border-radius: 5px;
	box-shadow: 0px 1px 3px 0px;
}

.color-box-development-approach {
  display: flex;
  margin: 20px;
}

.color-box {
  width: 50%;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.sigle-color-box {
  width: 45%;
  border-radius: 5px;
  box-shadow: 0px 1px 3px 0px;

}
.primary {
  color: white;
  background-color: #4e73df;
}
.success {
  color: white;
  background-color: #1cc88a;
}
.info {
  color: white;
  background-color: #36b9cc;
}
.warning {
  color: white;
  background-color: #f6c23e;
}
.danger {
  color: white;
  background-color: #e74a3b;
}
.secondary {
  color: white;
  background-color: #858796;
}
.light {
  color: grey;
  background-color: #f8f9fc;
}
.dark {
  color: white;
  background-color: #5a5c69;
}

.sigle-color-box-content {
  margin-left: 20px;
}

.development-approach {
  display: flex;
  flex-direction: column;
  margin: 20px;
	width: 50%;
  height: 250px;
	border-radius: 5px;
	box-shadow: 0px 1px 3px 0px;
}

.footer {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Login page */
.login-container {
  display: flex;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 65%;
  height: 550px;
  box-shadow: 0px 1px 3px 0px;
}
.login-image {
  width: 50%;
  background: url(https://images.unsplash.com/photo-1518020382113-a7e8fc38eac9?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=800&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY0MDM4NTY1Mw&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=600);
  background-position: center;
  background-size: cover;
}
.login-details {
  width: 50%;
  padding: 10px;
}
.input-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.email-field {
  border-radius: 10rem;
  padding: 1rem 1rem;
  width: 80%;
  margin-bottom: 1rem;
}
.login-buttons {
  border-radius: 10rem;
  padding: 1rem 1rem;
  width: 80%;
  margin-bottom: 1rem;
}
.login {
  background-color: #4e73df;
  border-color: #4e73df;
}
.login-with-google {
  background-color: #ea4335;
  border-color: #ea4335;
}
.login-with-facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

/* Create account page */
.create-account-container {
  display: flex;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 65%;
  height: 565px;
  box-shadow: 0px 1px 3px 0px;
}
.create-account-image {
  width: 50%;
  background: url(https://images.unsplash.com/photo-1517849845537-4d257902454a?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=800&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY0MDM4MDE5OQ&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=600);
  background-position: center;
  background-size: cover;
}
.create-account-details {
  width: 50%;
  padding: 10px;
}
.create-form {
  display: block;
  margin-top: 1rem;
}
.name-input-fields {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.input-names {
  border-radius: 10rem;
  padding: 1rem 1rem;
  width: 30%;
  margin-bottom: 1rem;
}
.email-input-field {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.password-input-fields {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}